[submodule "cores"]
	path = cores
	url = https://github.com/PaulStoffregen/cores.git
[submodule "libs/Adafruit_ILI9341"]
	path = libs/Adafruit_ILI9341
	url = git@github.com:adafruit/Adafruit_ILI9341.git
[submodule "libs/Adafruit-GFX-Library"]
	path = libs/Adafruit-GFX-Library
	url = git@github.com:adafruit/Adafruit-GFX-Library.git
[submodule "libs/Adafruit_BusIO"]
	path = libs/Adafruit_BusIO
	url = git@github.com:adafruit/Adafruit_BusIO.git
[submodule "libs/ArduinoCore-avr"]
	path = libs/ArduinoCore-avr
	url = git@github.com:arduino/ArduinoCore-avr.git
[submodule "libs/SPI"]
	path = libs/SPI
	url = https://github.com/PaulStoffregen/SPI
[submodule "libs/Wire"]
	path = libs/Wire
	url = https://github.com/PaulStoffregen/Wire
[submodule "libs/TFT_ILI93XX"]
	path = libs/TFT_ILI93XX
	url = git@github.com:sumotoy/TFT_ILI93XX.git
[submodule "libs/eigen"]
	path = libs/eigen
	url = https://gitlab.com/libeigen/eigen.git
